/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/* CSS CUSTOM */
.fundo_vermelho {
    background: rgb(0,0,0);
    background: linear-gradient(7deg, rgba(0,0,0,1) 0%, rgba(164,4,4,1) 43%, rgba(0,0,0,1) 100%);
}

.page-header img.logo {
    width: 50%;
    margin: auto;
    display: block;
}

.info {
    padding: 30px 0 30px !important;
}

.card-img-principal {
    width: 100%;
    height: 250px;
    margin: auto;
    background-position: center !important;
    background-size: cover !important;
}

.card-header .titulo-card-sorteios b {
    font-size: 21px !important;
}

.card-body .info-numeros {
    padding: 8px 0;
}

.card-body .card-text {
    margin-top: 12px;
    font-size: 16px;
    color: black;
    font-weight: 700;
}

.card-body .info-numeros h5 {
    padding: 0;
    margin: 0;
    font-size: 15px;
}

.card-body a.btn {
    background: #000;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus,
.dropdown-menu .dropdown-item:active,
.dropdown-menu a:active,
.dropdown-menu a.active,
.dropdown-menu a:hover,
.dropdown-menu a:focus,
.dropdown-menu a:active {
    box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(0 0 0 / 40%);
    background-color: #000000db;
    color: #fff !important;
}

/* RODAPE */
.rodape img.logo {
    width: 20%;
    margin: auto;
    display: block;
}

.rodape .redes-sociais img {
    width: 50px;
    margin: 10px;
}

.rodape a {
    color: #000;
    font-weight: 500;
}

    .rodape a:hover {
        color: rgba(164,4,4,1);
    }

.footer {
    line-height: 20px !important;
}

/*
    TELA DE ITEM DE SORTEIO
*/
.bloco-filtro-sorteio{
    display: inline-block;
}

.bloco-filtro-sorteio label{
    margin: 10px 20px;
}

.bloco-filtro-sorteio .item{
    padding: 10px;
    border-radius: 2px 10px;
    color: #000;
    font-weight: 500;
    border: 1px solid #a7a7a7;
}

.bloco-filtro-sorteio .item:hover{
    cursor: pointer;
}

.item-todos{
    background: #a7a7a769;
}

.item-disponivel {
    background: #fff;
}

.item-reservado{
    background: #00da00e0;
}

.item-pago{
    background: yellow;
}

.consultar-meus-numero{
    background: #ffaa0d;
}

.itens-numero-sorteio {
    width: 50px;
    height: 50px;
    border: 1px solid #a7a7a7;
    font-weight: 700;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    margin: 5px;
}

.dados-banco {
    text-align: left;
}

.dados-banco h6{
    padding: 0;
    margin: 0;
}