@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutAcessoInterno";
}

<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="title">Nova Forma de Pagamento</h2>
                </div>
            </div>

            <form>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label>Favorecido</label>
                        <input type="text" class="form-control" placeholder="Nome do Favorecido">
                    </div>
                    <div class="form-group col-md-3">
                        <label>CPF/CNPJ</label>
                        <input type="text" class="form-control" placeholder="CPF ou CNPJ">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label>Banco</label>
                        <input type="text" class="form-control" placeholder="Nome do Banco">
                    </div>
                    <div class="form-group col-md-3">
                        <label>Código</label>
                        <input type="text" class="form-control" placeholder="Código do Banco">
                    </div>
                    <div class="form-group col-md-3 alinhar-embaixo logo-banco">
                        <label class="file">
                            <input type="file" id="file">
                            <span class="file-custom"></span>
                        </label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label>Agência</label>
                        <input type="text" class="form-control" placeholder="Número da Agência">
                    </div>
                    <div class="form-group col-md-3">
                        <label>Conta</label>
                        <input type="text" class="form-control" placeholder="Número da Conta">
                    </div>
                    <div class="form-group col-md-3 alinhar-embaixo">
                        <select class="selectpicker" data-style="btn-dark">
                            <option disabled selected value="">Tipo da Conta</option>
                            @foreach (var item in (IEnumerable<Sorteio.Domain.Models.EntityDomain.TipoFormaDePagamento>)ViewBag.TipoFormaDePagamento)
                            {
                                <option value="@item.id_tipo_forma_de_pagamento">@item.nome</option>
                            }
                        </select>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-md-12">
                    <div class="summernote"></div>
                </div>
            </div>
            <button id="save" class="btn btn-outline-success btn-sm" onclick="save()">Salvar</button>
        </div>
    </div>
</div>