<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <title>@ViewData["Title"] - Sorteio</title>

    <!-- ICONES -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <link href="~/css/material-kit.css?v=2.0.4" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/css/elastislide.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    
    <noscript>
        <style>
            .es-carousel ul {
                display: block;
            }
        </style>
    </noscript>
    <script id="img-wrapper-tmpl" type="text/x-jquery-tmpl">
        <div class="rg-image-wrapper">
            {{if itemsCount > 1}}
            <div class="rg-image-nav">
                <a href="#" class="rg-image-nav-prev">Previous Image</a>
                <a href="#" class="rg-image-nav-next">Next Image</a>
            </div>
            {{/if}}
            <div class="rg-image"></div>
            <div class="rg-loading"></div>
            <div class="rg-caption-wrapper">
                <div class="rg-caption" style="display:none;">
                    <p></p>
                </div>
            </div>
        </div>
    </script>

</head>
<body class="landing-page sidebar-collapse" id="home">
    <header style="height: 100px">
        <nav class="navbar bg-dark fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav" style="height: 100px">
            <div class="container">
                <div class="navbar-translate">
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                        <b>Logo Fire Sorteios 2</b>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#home">
                                <i class="material-icons">apps</i> Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#ultimos-sorteios">
                                <i class="material-icons">list_alt</i> Últimos Sorteios
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">
                                <i class="material-icons">confirmation_number</i> Envie seu comprovante
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">
                                <i class="material-icons">help_outline</i> Tire suas dúvidas
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <!-- JS -->
    <script src="~/js/core/jquery.min.js" asp-append-version="true" type="text/javascript"></script>
    <script type="text/javascript" src="~/js/plugins/jquery.tmpl.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/plugins/jquery.easing.1.3.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/plugins/jquery.elastislide.js" asp-append-version="true"></script>
    <script src="~/js/core/popper.min.js" asp-append-version="true" type="text/javascript"></script>
    <script src="~/js/core/bootstrap-material-design.min.js" asp-append-version="true" type="text/javascript"></script>
    <script src="~/js/plugins/moment.min.js" asp-append-version="true"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js" integrity="sha512-yDlE7vpGDP7o2eftkCiPZ+yuUyEcaBwoJoIhdXv71KZWugFqEphIS3PU60lEkFaz8RxaVsMpSvQxMBaKVwA5xg==" crossorigin="anonymous"></script>
    <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
    <script src="~/js/plugins/bootstrap-datetimepicker.js" asp-append-version="true" type="text/javascript"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="~/js/plugins/nouislider.min.js" asp-append-version="true" type="text/javascript"></script>
    <script src="~/js/material-kit.js?v=2.0.4" asp-append-version="true" type="text/javascript"></script>

    <script type="text/javascript" src="~/js/plugins/gallery.js" asp-append-version="true"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
