<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://verificacaosorteios.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/a665ac4e-bcfe-4574-9443-33fed6cae7a1/resourceGroups/Sorteio/providers/Microsoft.Web/sites/verificacaosorteios</ResourceId>
    <UserName>$verificacaosorteios</UserName>
    <_SavePWD>True</_SavePWD>
    <IsLinux>true</IsLinux>
    <PublishUrl>https://verificacaosorteios.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>