@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutAcessoInterno";
}

<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="title">Lista de Sorteios</h2>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <a asp-controller="Sorteios" asp-action="Novo" class="btn btn-outline-danger">Novo Sorteio</a>
            </div>
            <table class="table table-hover" id="datatableListaSorteios">
                <thead class="bg-light">
                    <tr>
                        <th scope="col">Sorteio</th>
                        <th scope="col">Ganhador</th>
                        <th scope="col">Status</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1&deg; Edição - Yamaha 2021</td>
                        <td></td>
                        <td>
                            <button class="btn btn-sm btn-warning">Em andamento</button>
                        </td>
                        <td>
                            <a href="javascript:;" data-toggle="modal" data-target="#exampleModal" class="btn btn-sm btn-dark">Finalizar</a>
                        </td>
                    </tr>
                    <tr>
                        <td>134&deg; Edição - Golf GT</td>
                        <td></td>
                        <td>
                            <button class="btn btn-sm btn-warning">Em andamento</button>
                        </td>
                        <td>
                            <a href="javascript:;" data-toggle="modal" data-target="#exampleModal" class="btn btn-sm btn-dark">Finalizar</a>
                        </td>
                    </tr>
                    <tr>
                        <td>1&deg; Edição - Iphone X</td>
                        <td>Mark Anderson | n&deg; 84</td>
                        <td>
                            <button class="btn btn-sm btn-success">Concluído</button>
                        </td>
                        <td>
                            <a href="javascript:;" data-toggle="modal" data-target="#exampleModal" class="btn btn-sm btn-dark">Finalizar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal Finalizar Sorteio -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pt-0">
                <h5 class="title m-0 text-center">Finalizar Sorteio</h5>
                <small class="m-auto d-block text-center">Para finalizar o sorteio preencha os campos abaixo</small>

                <form>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="exampleFormControlInput1">Data</label>
                            <input type="date" class="form-control" id="exampleFormControlInput1">
                        </div>
                        <div class="form-group col-md-12">
                            <label for="exampleFormControlInput1">Nome do Ganhador</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="João da Silva">
                        </div>
                        <div class="form-group col-md-12">
                            <label for="exampleFormControlInput1">Número Sorteado</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="001">
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal">Fechar</button> &#160;
                <button type="button" class="btn btn-success btn-sm">Finalizar</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Pages/Sorteios/Index.js" type="text/javascript" asp-append-version="true"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>