@{
    ViewData["Title"] = "Sorteio";
    Layout = "_LayoutSorteio";
}

<div class="main main-raised">
    <div class="container">
        <div class="section text-center">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h2 class="title mt-5 mb-5 ">YAMAHA MT-07</h2>
                    <button onclick="AbrirModalCadastrarUsuario()" class="btn">Cadastrar Usuario</button>
                </div>

                <div class="col-md-8">
                    <ul class="pgwSlideshow">
                        <li><img src="https://media.istockphoto.com/photos/mechanic-repairing-a-motorcycle-picture-id1188820923?s=612x612"></li>
                        <li><img src="https://media.istockphoto.com/photos/mechanic-repairing-a-motorcycle-picture-id1188820923?s=612x612"></li>
                        <li><img src="https://media.istockphoto.com/photos/mechanic-repairing-a-motorcycle-picture-id1188820923?s=612x612"></li>
                        <li><img src="https://media.istockphoto.com/photos/mechanic-repairing-a-motorcycle-picture-id1188820923?s=612x612"></li>
                        <li><img src="https://media.istockphoto.com/photos/mechanic-repairing-a-motorcycle-picture-id1188820923?s=612x612"></li>
                        <li><img src="https://media.istockphoto.com/photos/mechanic-repairing-a-motorcycle-picture-id1188820923?s=612x612"></li>
                        <li><img src="https://media.istockphoto.com/photos/mechanic-repairing-a-motorcycle-picture-id1188820923?s=612x612"></li>
                        <li><img src="https://media.istockphoto.com/photos/mechanic-repairing-a-motorcycle-picture-id1188820923?s=612x612"></li>
                        <li><img src="https://media.istockphoto.com/photos/mechanic-repairing-a-motorcycle-picture-id1188820923?s=612x612"></li>
                        <li><img src="https://media.istockphoto.com/photos/mechanic-repairing-a-motorcycle-picture-id1188820923?s=612x612"></li>
                    </ul>
                </div>
                <div class="col-md-4 text-left">
                    <h4 class="title mt-0">REGULAMENTO / DESCRIÇÃO</h4>
                    <p>
                        YAMAHA MT-07 - 2019
                        <br />
                        26 MIL KM
                        <br /><br />
                        Cor: VERMELHA
                        <br />
                        Cilindrada: 689cc / 8 válvulas
                        <br />
                        2 cilindros em paralelo
                        <br />
                        Potência máxima: 74,8cv
                        <br />
                        Torque: 6.9 kgfm
                        <br />
                        Câmbio: 6 velocidades
                        <br />
                        Acompanha Manual e Chave Reserva
                        <br />
                        IPVA 2021 PAGO.
                        <br />
                        ESCAPAMENTO ESPORTIVO E ORIGINAL.
                        <br />
                        ELIMINNADOR DE PARALAMAS E ORIGINAL.
                        <br />
                        <br />
                        (MOTO TOTALMENTE REVISADA E SEM DETALHES.)
                        <br /><br />
                        APOS FAZER A RESERVA DOS NÚMEROS ENVIAR O COMPROVANTE IMEDIATAMENTE A NOSSA EQUIPE.
                    </p>
                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <h3 class="title">Números do Sorteio</h3>

                    <div class="bloco-filtro-sorteio">
                        <label class="item item-todos">Todos (1000)</label>
                    </div>
                    <div class="bloco-filtro-sorteio">
                        <label class="item item-disponivel">Disponível (1000)</label>
                    </div>
                    <div class="bloco-filtro-sorteio">
                        <label class="item item-reservado">Reservado (1000)</label>
                    </div>
                    <div class="bloco-filtro-sorteio">
                        <label class="item item-pago">Pago (1000)</label>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="bloco-filtro-sorteio">
                        <label class="item consultar-meus-numero">Consultar meus números</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="itens-numero-sorteio item-disponivel">001</div>
                    <div class="itens-numero-sorteio item-disponivel">001</div>
                    <div class="itens-numero-sorteio item-disponivel">001</div>
                    <div class="itens-numero-sorteio item-disponivel">001</div>
                    <div class="itens-numero-sorteio item-disponivel">001</div>
                    <div class="itens-numero-sorteio item-disponivel">001</div>
                    <div class="itens-numero-sorteio item-disponivel">001</div>
                    <div class="itens-numero-sorteio item-disponivel">001</div>
                    <div class="itens-numero-sorteio item-disponivel">001</div>
                    <div class="itens-numero-sorteio item-disponivel">001</div>
                    <div class="itens-numero-sorteio item-disponivel">001</div>
                    <div class="itens-numero-sorteio item-pago">001</div>
                    <div class="itens-numero-sorteio item-disponivel">001</div>
                    <div class="itens-numero-sorteio item-disponivel">001</div>
                    <div class="itens-numero-sorteio item-disponivel">001</div>
                    <div class="itens-numero-sorteio item-reservado">001</div>
                    <div class="itens-numero-sorteio item-disponivel">001</div>
                    <div class="itens-numero-sorteio item-pago">001</div>
                    <div class="itens-numero-sorteio item-disponivel">001</div>
                    <div class="itens-numero-sorteio item-disponivel">001</div>
                    <div class="itens-numero-sorteio item-disponivel">001</div>
                    <div class="itens-numero-sorteio item-reservado">001</div>
                    <div class="itens-numero-sorteio item-disponivel">001</div>
                    <div class="itens-numero-sorteio item-disponivel">001</div>
                    <div class="itens-numero-sorteio item-pago">001</div>
                    <div class="itens-numero-sorteio item-disponivel">001</div>
                    <div class="itens-numero-sorteio item-disponivel">001</div>
                    <div class="itens-numero-sorteio item-reservado">001</div>
                    <div class="itens-numero-sorteio item-reservado">001</div>
                    <div class="itens-numero-sorteio item-disponivel">001</div>
                    <div class="itens-numero-sorteio item-disponivel">001</div>
                    <div class="itens-numero-sorteio item-disponivel">001</div>
                    <div class="itens-numero-sorteio item-disponivel">001</div>
                    <div class="itens-numero-sorteio item-disponivel">001</div>
                    <div class="itens-numero-sorteio item-disponivel">001</div>
                    <div class="itens-numero-sorteio item-disponivel">001</div>
                    <div class="itens-numero-sorteio item-disponivel">001</div>
                    <div class="itens-numero-sorteio item-disponivel">001</div>
                    <div class="itens-numero-sorteio item-disponivel">001</div>
                    <div class="itens-numero-sorteio item-disponivel">001</div>
                    <div class="itens-numero-sorteio item-disponivel">001</div>
                    <div class="itens-numero-sorteio item-disponivel">001</div>
                    <div class="itens-numero-sorteio item-disponivel">001</div>
                    <div class="itens-numero-sorteio item-disponivel">001</div>
                    <div class="itens-numero-sorteio item-disponivel">001</div>
                    <div class="itens-numero-sorteio item-disponivel">001</div>
                    <div class="itens-numero-sorteio item-disponivel">001</div>
                    <div class="itens-numero-sorteio item-disponivel">001</div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title">Dados para o Pagamento</h3>
                </div>
                <div class="col-md-3">
                    <div class="card" style="width: 17rem;">
                        <img class="card-img-top" src="~/img/bancos/itau.png">
                        <div class="card-body dados-banco">
                            <h4 class="title">Banco Inter</h4>
                            <h6><strong>Cód Banco:</strong> 077</h6>
                            <h6><strong>Favorecido:</strong> ROBSON PEREIRA STURARO</h6>
                            <h6><strong>CPF:</strong> 229.454.978-32</h6>
                            <h6><strong>Agência:</strong> 0001</h6>
                            <h6><strong>Conta:</strong> 3479933-8</h6>
                            <h6><strong>Tipo:</strong> Conta Corrente</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card" style="width: 17rem;">
                        <img class="card-img-top" src="~/img/bancos/itau.png">
                        <div class="card-body dados-banco">
                            <h4 class="title">Santander</h4>
                            <h6><strong>Cód Banco:</strong> 077</h6>
                            <h6><strong>Favorecido:</strong> ROBSON PEREIRA STURARO</h6>
                            <h6><strong>CPF:</strong> 229.454.978-32</h6>
                            <h6><strong>Agência:</strong> 0001</h6>
                            <h6><strong>Conta:</strong> 3479933-8</h6>
                            <h6><strong>Tipo:</strong> Conta Corrente</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card" style="width: 17rem;">
                        <img class="card-img-top" src="~/img/bancos/itau.png">
                        <div class="card-body dados-banco">
                            <h4 class="title">Caixa</h4>
                            <h6><strong>Cód Banco:</strong> 077</h6>
                            <h6><strong>Favorecido:</strong> ROBSON PEREIRA STURARO</h6>
                            <h6><strong>CPF:</strong> 229.454.978-32</h6>
                            <h6><strong>Agência:</strong> 0001</h6>
                            <h6><strong>Conta:</strong> 3479933-8</h6>
                            <h6><strong>Tipo:</strong> Conta Corrente</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card" style="width: 17rem;">
                        <img class="card-img-top" src="~/img/bancos/itau.png">
                        <div class="card-body dados-banco">
                            <h4 class="title">Santander</h4>
                            <h6><strong>Cód Banco:</strong> 077</h6>
                            <h6><strong>Favorecido:</strong> ROBSON PEREIRA STURARO</h6>
                            <h6><strong>CPF:</strong> 229.454.978-32</h6>
                            <h6><strong>Agência:</strong> 0001</h6>
                            <h6><strong>Conta:</strong> 3479933-8</h6>
                            <h6><strong>Tipo:</strong> Conta Corrente</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card" style="width: 17rem;">
                        <img class="card-img-top" src="~/img/bancos/itau.png">
                        <div class="card-body dados-banco">
                            <h4 class="title">Caixa</h4>
                            <h6><strong>Cód Banco:</strong> 077</h6>
                            <h6><strong>Favorecido:</strong> ROBSON PEREIRA STURARO</h6>
                            <h6><strong>CPF:</strong> 229.454.978-32</h6>
                            <h6><strong>Agência:</strong> 0001</h6>
                            <h6><strong>Conta:</strong> 3479933-8</h6>
                            <h6><strong>Tipo:</strong> Conta Corrente</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card" style="width: 17rem;">
                        <img class="card-img-top" src="~/img/bancos/itau.png">
                        <div class="card-body dados-banco">
                            <h4 class="title">Santander</h4>
                            <h6><strong>Cód Banco:</strong> 077</h6>
                            <h6><strong>Favorecido:</strong> ROBSON PEREIRA STURARO</h6>
                            <h6><strong>CPF:</strong> 229.454.978-32</h6>
                            <h6><strong>Agência:</strong> 0001</h6>
                            <h6><strong>Conta:</strong> 3479933-8</h6>
                            <h6><strong>Tipo:</strong> Conta Corrente</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card" style="width: 17rem;">
                        <img class="card-img-top" src="~/img/bancos/itau.png">
                        <div class="card-body dados-banco">
                            <h4 class="title">Caixa</h4>
                            <h6><strong>Cód Banco:</strong> 077</h6>
                            <h6><strong>Favorecido:</strong> ROBSON PEREIRA STURARO</h6>
                            <h6><strong>CPF:</strong> 229.454.978-32</h6>
                            <h6><strong>Agência:</strong> 0001</h6>
                            <h6><strong>Conta:</strong> 3479933-8</h6>
                            <h6><strong>Tipo:</strong> Conta Corrente</h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="rodape">
        <div class="container">
            <br /><br />
            <div>
                <img src="~/img/logo.jpeg" class="logo" />,
                <div class="row redes-sociais d-flex justify-content-center">
                    <img src="~/img/face.png" alt="Facebook" style="width: 50px; height: 50px;"/>
                    <img src="~/img/instagran.png" alt="Instagran" style="width: 50px; height: 50px;"/>
                    <img src="~/img/whatsapp.png" alt="Whatsapp" style="width: 50px; height: 50px;"/>
                </div>

                <div class="text-center mt-3">
                    <a href="#">HOME</a> | <a href="#">ÚLTIMOS SORTEIOS</a>
                    <br />
                    <a href="#">ENVIE SEU COMPROVANTE</a> | <a href="#">TIRE SUAS DÚVIDAS</a>
                    <br /><br />
                </div>
                <div class="copyright text-center">
                    <b>
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>
                        Fire Sorteios
                    </b>
                </div>
            </div>
            <br /><br />
        </div>
    </div>
</div>

<script src="~/js/Pages/Home/ItemSorteio.js" asp-append-version="true" type="text/javascript"></script>