@{
    ViewData["Title"] = "Sorteio";
    Layout = "_LayoutSorteio";
}

<div class="main main-raised">
    <div class="container">
        <div class="section text-center">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h2 class="title">SORTEIOS EM ANDAMENTO</h2>
                    <h4 class="description">Varios participantes já tiveram seus sonhos realizados.</h4>
                    <h5 class="description text-dark"><b>Você pode ser o próximo!</b></h5>
                </div>
            </div>
            <div id="rg-gallery" class="rg-gallery">
                <div class="rg-thumbs">
                    <!-- Elastislide Carousel Thumbnail Viewer -->
                    <div class="es-carousel-wrapper">
                        <div class="es-nav">
                            <span class="es-nav-prev">Previous</span>
                            <span class="es-nav-next">Next</span>
                        </div>
                        <div class="es-carousel">
                            <ul>
                                <li><a href="#"><img src="https://cdn.pixabay.com/photo/2016/04/07/06/53/bmw-1313343_960_720.jpg" data-large="https://cdn.pixabay.com/photo/2016/04/07/06/53/bmw-1313343_960_720.jpg" alt="image01" data-description="From off a hill whose concave womb reworded" /></a></li>
                                <li><a href="#"><img src="https://cdn.pixabay.com/photo/2016/04/07/06/53/bmw-1313343_960_720.jpg" data-large="https://cdn.pixabay.com/photo/2016/04/07/06/53/bmw-1313343_960_720.jpg" alt="image02" data-description="A plaintful story from a sistering vale" /></a></li>
                                <li><a href="#"><img src="https://cdn.pixabay.com/photo/2016/04/07/06/53/bmw-1313343_960_720.jpg" data-large="https://cdn.pixabay.com/photo/2016/04/07/06/53/bmw-1313343_960_720.jpg" alt="image03" data-description="A plaintful story from a sistering vale" /></a></li>
                                <li><a href="#"><img src="https://cdn.pixabay.com/photo/2016/04/07/06/53/bmw-1313343_960_720.jpg" data-large="https://cdn.pixabay.com/photo/2016/04/07/06/53/bmw-1313343_960_720.jpg" alt="image04" data-description="My spirits to attend this double voice accorded" /></a></li>
                                <li><a href="#"><img src="https://cdn.pixabay.com/photo/2016/04/07/06/53/bmw-1313343_960_720.jpg" data-large="https://cdn.pixabay.com/photo/2016/04/07/06/53/bmw-1313343_960_720.jpg" alt="image05" data-description="And down I laid to list the sad-tuned tale" /></a></li>
                                <li><a href="#"><img src="https://cdn.pixabay.com/photo/2016/04/07/06/53/bmw-1313343_960_720.jpg" data-large="https://cdn.pixabay.com/photo/2016/04/07/06/53/bmw-1313343_960_720.jpg" alt="image06" data-description="Ere long espied a fickle maid full pale" /></a></li>
                                <li><a href="#"><img src="https://cdn.pixabay.com/photo/2016/04/07/06/53/bmw-1313343_960_720.jpg" data-large="https://cdn.pixabay.com/photo/2016/04/07/06/53/bmw-1313343_960_720.jpg" alt="image07" data-description="Tearing of papers, breaking rings a-twain" /></a></li>
                                <li><a href="#"><img src="https://cdn.pixabay.com/photo/2016/04/07/06/53/bmw-1313343_960_720.jpg" data-large="https://cdn.pixabay.com/photo/2016/04/07/06/53/bmw-1313343_960_720.jpg" alt="image08" data-description="Storming her world with sorrow's wind and rain" /></a></li>
                                <li><a href="#"><img src="https://cdn.pixabay.com/photo/2016/04/07/06/53/bmw-1313343_960_720.jpg" data-large="https://cdn.pixabay.com/photo/2016/04/07/06/53/bmw-1313343_960_720.jpg" alt="image09" data-description="Upon her head a platted hive of straw" /></a></li>
                                <li><a href="#"><img src="https://cdn.pixabay.com/photo/2016/04/07/06/53/bmw-1313343_960_720.jpg" data-large="https://cdn.pixabay.com/photo/2016/04/07/06/53/bmw-1313343_960_720.jpg" alt="image10" data-description="Which fortified her visage from the sun" /></a></li>
                                <li><a href="#"><img src="https://cdn.pixabay.com/photo/2016/04/07/06/53/bmw-1313343_960_720.jpg" data-large="https://cdn.pixabay.com/photo/2016/04/07/06/53/bmw-1313343_960_720.jpg" alt="image11" data-description="Whereon the thought might think sometime it saw" /></a></li>
                                <li><a href="#"><img src="https://cdn.pixabay.com/photo/2016/04/07/06/53/bmw-1313343_960_720.jpg" data-large="https://cdn.pixabay.com/photo/2016/04/07/06/53/bmw-1313343_960_720.jpg" alt="image12" data-description="The carcass of beauty spent and done" /></a></li>
                                <li><a href="#"><img src="https://cdn.pixabay.com/photo/2016/04/07/06/53/bmw-1313343_960_720.jpg" data-large="https://cdn.pixabay.com/photo/2016/04/07/06/53/bmw-1313343_960_720.jpg" alt="image13" data-description="Time had not scythed all that youth begun" /></a></li>
                                <li><a href="#"><img src="https://cdn.pixabay.com/photo/2016/04/07/06/53/bmw-1313343_960_720.jpg" data-large="https://cdn.pixabay.com/photo/2016/04/07/06/53/bmw-1313343_960_720.jpg" alt="image14" data-description="Nor youth all quit; but, spite of heaven's fell rage" /></a></li>
                                <li><a href="#"><img src="https://cdn.pixabay.com/photo/2016/04/07/06/53/bmw-1313343_960_720.jpg" data-large="https://cdn.pixabay.com/photo/2016/04/07/06/53/bmw-1313343_960_720.jpg" alt="image15" data-description="Some beauty peep'd through lattice of sear'd age" /></a></li>
                                <li><a href="#"><img src="https://cdn.pixabay.com/photo/2016/04/07/06/53/bmw-1313343_960_720.jpg" data-large="https://cdn.pixabay.com/photo/2016/04/07/06/53/bmw-1313343_960_720.jpg" alt="image16" data-description="Oft did she heave her napkin to her eyne" /></a></li>
                                <li><a href="#"><img src="https://cdn.pixabay.com/photo/2016/04/07/06/53/bmw-1313343_960_720.jpg" data-large="https://cdn.pixabay.com/photo/2016/04/07/06/53/bmw-1313343_960_720.jpg" alt="image17" data-description="Which on it had conceited characters" /></a></li>
                                <li><a href="#"><img src="https://cdn.pixabay.com/photo/2016/04/07/06/53/bmw-1313343_960_720.jpg" data-large="https://cdn.pixabay.com/photo/2016/04/07/06/53/bmw-1313343_960_720.jpg" alt="image18" data-description="Laundering the silken figures in the brine" /></a></li>
                                <li><a href="#"><img src="https://cdn.pixabay.com/photo/2016/04/07/06/53/bmw-1313343_960_720.jpg" data-large="https://cdn.pixabay.com/photo/2016/04/07/06/53/bmw-1313343_960_720.jpg" alt="image19" data-description="That season'd woe had pelleted in tears" /></a></li>
                                <li><a href="#"><img src="https://cdn.pixabay.com/photo/2016/04/07/06/53/bmw-1313343_960_720.jpg" data-large="https://cdn.pixabay.com/photo/2016/04/07/06/53/bmw-1313343_960_720.jpg" alt="image20" data-description="And often reading what contents it bears" /></a></li>
                                <li><a href="#"><img src="https://cdn.pixabay.com/photo/2016/04/07/06/53/bmw-1313343_960_720.jpg" data-large="https://cdn.pixabay.com/photo/2016/04/07/06/53/bmw-1313343_960_720.jpg" alt="image21" data-description="As often shrieking undistinguish'd woe" /></a></li>
                                <li><a href="#"><img src="https://cdn.pixabay.com/photo/2016/04/07/06/53/bmw-1313343_960_720.jpg" data-large="https://cdn.pixabay.com/photo/2016/04/07/06/53/bmw-1313343_960_720.jpg" alt="image22" data-description="In clamours of all size, both high and low" /></a></li>
                                <li><a href="#"><img src="https://cdn.pixabay.com/photo/2016/04/07/06/53/bmw-1313343_960_720.jpg" data-large="https://cdn.pixabay.com/photo/2016/04/07/06/53/bmw-1313343_960_720.jpg" alt="image23" data-description="Sometimes her levell'd eyes their carriage ride" /></a></li>
                                <li><a href="#"><img src="https://cdn.pixabay.com/photo/2016/04/07/06/53/bmw-1313343_960_720.jpg" data-large="https://cdn.pixabay.com/photo/2016/04/07/06/53/bmw-1313343_960_720.jpg" alt="image24" data-description="As they did battery to the spheres intend" /></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Elastislide Carousel Thumbnail Viewer -->
                </div><!-- rg-thumbs -->
            </div><!-- rg-gallery -->
        </div>
    </div>
</div>

<div class="main main-raised rodape">
    <div class="container">
        <br /><br />
        <div>
            <img src="~/img/logo.jpeg" class="logo" />,
            <div class="row redes-sociais d-flex justify-content-center">
                <img src="~/img/face.png" alt="Facebook" />
                <img src="~/img/instagran.png" alt="Instagran" />
                <img src="~/img/whatsapp.png" alt="Whatsapp" />
            </div>

            <div class="text-center mt-3">
                <a href="#">HOME</a> | <a href="#">ÚLTIMOS SORTEIOS</a>
                <br />
                <a href="#">ENVIE SEU COMPROVANTE</a> | <a href="#">TIRE SUAS DÚVIDAS</a>
                <br /><br />
            </div>
            <div class="copyright text-center">
                <b>
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>
                    Fire Sorteios
                </b>
            </div>
        </div>
        <br /><br />
    </div>
</div>